body {
    font-family: Arial, sans-serif;
}

#autores {
    margin-bottom: 30px;
}

form {
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}
